@using Sandbox;
@using System;
@using Sandbox.UI;
@inherits PanelComponent
@namespace Sandbox

<root>
    @foreach(var marker in GetAllNavMarkers()) {
        var pos = Scene.Camera.PointToScreenNormal(marker.WorldPosition, out bool behind);
        if (!marker.DrawOffScreen)
            if ((behind || (pos.x > 1 || pos.x < 0) || (pos.y > 1 || pos.y < 0))) continue;
        pos *= 100.0f;
        pos.x = Math.Clamp(pos.x, 0.5f, 98.5f);
        pos.y = Math.Clamp(pos.y, 0.5f, 96.0f);

        <div class="marker" style="transform: translate(-50%, -50%) scale(@(marker.Scale)); left: @(pos.x)%; top: @(pos.y)%;">
            <div class="container">
                <div class="text">@marker.Text</div>
                @if (marker.DrawDistance)
                {
                    <div class="distance">@((int)marker.GetDistance())m</div>
                }
                <div class="icon" style="background-image-tint: @(marker.Tint.Hex)" />
            </div>
        </div>
    }

</root>

@code
{
    public List<NavMarker> GetAllNavMarkers() {
        var list = Scene.GetAllComponents<NavMarker>();
        
        return list.OrderBy(x => x.GetDistance()).Reverse().ToList();
    }

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( GetAllNavMarkers() );
}
